# Ignore downloaded podcasts
podcasts/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore Gemini interaction summaries
gemini-interaction-summaries/

# Ignore environment variables
.env

# Ignore processed episodes tracker
processed_episodes.json
podcast_config.json
